.tarefas {
    margin-top: 30px;
  
}

.tarefas li {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.tarefas li:hover {
    background-color: aqua;
    transition: all 600ms;
}
.tarefas li .edit {
    margin-right: 15px;
    color: aqua;
}

.tarefas li .delete {
    margin-right: 15px;
    color: red;
}

.tarefas li:hover .edit,
.tarefas li:hover .delete {
    color: black;
}

.tarefas li .edit,
.tarefas li .delete {
    cursor: pointer;
    transition: all 600ms;
}